*{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	font-size: 0;
}

#formText{
	width: 400px;
	margin: 20px;
	text-align: center;
}

button{
	display: block;
	padding: 5px 20px;
	margin: 20px auto;
}

.wrapper{
	padding: 0 10px;
}

.wrapImg{
	display: inline-block;
	margin: 5px;
	text-align: center;
	overflow-x: hidden;
}

