*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}

*:focus{
	outline: none;
}

div, img{
	font-size: 0;
}

#formText{
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	background-color: #F2F2F2;
}

label{
	font-weight: bold;
	text-decoration: underline;
	vertical-align: bottom;
	letter-spacing: .7px;
	display: inline-block;
	margin: 5px 0;
}

#uploadText{
	display: inline-block;
	margin: 5px 0;
	margin-left: 10px;
}

.lineSearch{
	padding: 10px;
	background-color: #F2F2F2;
	font-size: 15px;
}

button{
	display: block;
	padding: 5px 20px;
	margin: 15px auto;
	margin-bottom: 0;
	border-radius: 10px;
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #000;
	background-color: #4B82C9;
	background: linear-gradient(#4B82C9, #6890C5);
	cursor: pointer;
}

#wrapper{
	padding: 0 10px;
	margin-top: 10px;
	position: relative;
}

.wrapImg{
	display: inline-block;
	margin: 5px;
	text-align: center;
	overflow-x: hidden;
}

.preloader{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	display: none;
}

.preloader.active ~ *{
	transition: all .5s ease;
	opacity: .5;
	filter: blur(7px)
}

.pulse{
	position: relative;
	margin: 0 auto;
	width: 68px;
	height: 68px;
	top: 150px;
}
		
.pulse::before, .pulse::after{
	content: '';
	border: 4px solid #A7BFCB;
	width: 60px;
	height: 60px;
	border-radius: 500px;
	position: absolute;
}

.pulse::before{
	animation: pulse-outer .8s ease-in infinite;
}

.pulse::after{
	animation: pulse-inner .8s linear infinite;
}

@keyframes pulse-outer{
	0%{
		opacity: 100;
		filter: alpha(opacity=100);
	}
	50%{
		opacity: 50;
		filter: alpha(opacity=50);
	}
	100%{
		opacity: 0;
		filter: alpha(opacity=0);
	}
}

@keyframes pulse-inner{
	0%{
		opacity: 0;
		filter: alpha(opacity=0);
		transform: scale(0);
	}
	100%{
		opacity: 100;
		filter: alpha(opacity=100);
		transform: scale(1);
	}
}

